<div class="min-h-screen bg-background p-4">
  <div class="max-w-3xl mx-auto space-y-6">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl font-bold text-text-primary">Menú Seleccionado</h1>
      <button
        (click)="gotTohome()"
        class="bg-accent hover:bg-green-700 text-white px-4 py-2 rounded-md"
      >
        Menú
      </button>
    </div>
 
    <!-- Campo de búsqueda -->
    <input
      type="text"
      [formControl]="searchControl"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-primary"
      placeholder="Buscar platos por nombre..."
    />

    <app-menu-stats [stats]="menuStats()"></app-menu-stats>

    <!-- Resultados -->
    @if (results().length > 0) {
      <div class="mt-4">
        <p class="text-sm text-text-light">Resultados: {{ results().length }}</p>
  
        <div class="grid md:grid-cols-2 gap-6">
          @for (dish of results(); track dish.id) {
            <app-dish [dish]="dish" [inSearch]="true" (add)="addToMenu(dish)" [menu]="menu()" [menuStats]="menuStats()"></app-dish>
          }
        </div>
      </div>
    } 
    @if (results().length === 0 && searchControl.value) {
      <div class="text-text-light">
        No se encontraron resultados.
      </div>
    }

  </div>
</div>
