@import "tailwindcss";

@theme {
  --color-primary: #d64541;
  --color-secondary: #f39c12;
  --color-accent: #27ae60;
  --color-background: #fff8f0;
  --color-surface: #ffffff;
  --color-text-primary: #2c3e50;
  --color-text-light: #7f8c8d;
}
